.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid var(--header-border-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.header .logo {
  margin-right: 93px;
}

.logo-header {
  color: var(--header-logo-color);
}

.logo-footer {
  color: var(--light-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-nav {
  color: var(--main-title-color);
  display: flex;
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--time-function);
}

.header-nav-link.current:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  bottom: -33.5px;
  left: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-nav-link {
  &:hover,
  &:focus,
  &.current {
    color: var(--accent-color);
  }
}

.header-contacts-list {
  display: flex;
  margin-left: auto;
}

.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts-item .header-nav-link {
  display: flex;
  align-items: center;
}

.header-contacts-icon {
  margin-right: 10px;
  fill: currentColor;

  transition: color 250ms var(--time-function);
  .header-nav-link:hover & {
    color: var(--accent-color);
  }
}
